/*
font-family: 'Fjalla One', sans-serif;
font-family: 'Slabo 27px', serif;
font-family: 'Source Sans Pro', sans-serif;
*/
:root {
    --background-black: #000;
    --black-opacite: rgba(0,0,0,0.6);
    --red: #E62213;
    --blue: #1168D0;
    --gray-escuro: #333333;
    --gray-medio: #595959;
    --gray-claro: #B3B3B3;
    --white: #fff;

}
body{
    background-color: var(--background-black);
    font-family: sans-serif;}

.header {
    padding: 3vw 2vw;
}

.header__title-main{
    color: var(--red);
    font-size: calc(25px + 1vw);
    font-weight: bold;
}

.main__title-secondary {
    width: 100px;
    color: var(--white);
    font-size: 32px;
    font-weight: bold;
    margin: 12px 6vw 20px;
}

.main__login {
    margin: 8px 6vw ;
    width: 83vw;
    height: 50px;
    border-radius: 6px;
    background-color: var(--gray-escuro);
    padding: 0 0 0 3vw;
}
.main_button {
    width: 88vw;
    height: 8vh;
    border-radius: 6px;
    background-color: var(--red);
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    margin: 30px 6vw 0px;
}

.main__block-one {
    margin: 5px 6vw 12px;
    font-size: 12px;
    color: var(--gray-claro)
}

.main__checkbox {
    margin: 0;
}

.main__paragraph-help {
    color: var(--gray-claro);
    float: right;
}

.main__block-two {
    margin: 5px 6vw 12px;
    color: var(--gray-claro);
    font-size: 13px;
}

.main__paragraph-newSubscribers {
    font-weight: lighter;
    font-size: 15px;
    margin: 20px 0;
}

.main__span {
    color: var(--white);
}

/* PARA TABLETS E DESKTOPS */
@media (min-width: 740px) {

    body{
        background-image: url(/img/background-image.jpg);
    }

    .main{
        background-color:  rgba(0, 0, 0, 0.8);
        width: 450px;
        height: 500px;
        padding: 60px 68px 40px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .header__title-main {
        position: absolute;
        top: 40px;
        left: 50px;
        font-size: 60px;
        color: var(--red);
        font-weight: bolder;
    }

    .main__title-secondary {
        color: var(--white);
        font-size: 40px;
        font-weight: 600;
        margin: 0 0 40px 0;
    }

    .main__login {
        box-sizing: border-box;
        width: 450px;
        height: 60px;
        margin: 0 0 18px 0;
        background-color: var(--gray-escuro);
        margin-right: 50%;
        border: none;
        border-radius: 6%;
        font-size: 16px;
        padding-left: 20px;
    }

    .main_button {
        margin: 20px 0;
        width: 450px;
        height: 60px;
        background-color: var(--red);
        border-radius: 6%;
        font-size: 24px;
        font-weight: 800;
        color: var(--white);
    }

    .main__block-one, .main__block-two {
        color: var(--gray-claro);
    }
    
    .main__paragraph-help {
        text-align: right;
    }

    .main__paragraph-newSubscribers {
        margin: 30px 0;
        font-size: 20px;
    }

    .main__span {
        color: var(--white);
    }
    
    .main__link {
        text-decoration: none;
    }
}